* {
    margin: 0;
    padding: 0;
}

:root {
    --background: #c7c8d5;
    --box-background: #fcfeff;
    --nav-background: #3281ff;
    --header-background: #fcfeff;
    --border-color: #1d1d1d;
}

html, body {
    height: 150vh;
}

#siteWrapper {
    display: grid;
    background-color: var(--background);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    height: 100%;
}

#topHeader {
    background-color: var(--header-background);
    width: 100%;
    height: 100%;
    grid-column: 2 / -1;
    box-shadow: 2px 2px 5px #9c9c9c;
    z-index: 0;

}

main {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
    margin: 40px;
}

main > div {
    background-color: var(--box-background);
    border-style: hidden;
    border-width: 3px;
    border-radius: 0.5rem;
    border-left-style: solid;
    border-left-width: 0.5rem;
    border-left-color: var(--nav-background);
    box-shadow: 2px 2px 5px #9c9c9c;
}

nav {
    background-color: var(--nav-background);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    box-shadow: 2px 2px 5px #9c9c9c;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    box-shadow: 2px 2px 5px #9c9c9c;
    justify-content: stretch;
    align-content: stretch;

}

#sidebar > div {
    background-color: var(--box-background);
    border-style: hidden;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px #9c9c9c;
    width: 80%;
    height: 40%;
}

